[submodule "discourse-markers/resources/dimlex"]
	path = discourse-markers/src/dimlex
	url = https://github.com/discourse-lab/dimlex.git
[submodule "discourse-markers/src/ted-mdb"]
	path = discourse-markers/src/ted-mdb
	url = git://github.com/MurathanKurfali/Ted-MDB-Annotations.git
